<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<div class="flex flex-row justify-center ml-40 mr-40 space-x-20 transition-all duration-500 bg-black border-8 border-yellow-300 rounded-bl-full rounded-br-full shadow-2xl p-7 shadow-black hover:shadow-cyan-300">
    <a href="/users" class="p-5 text-xl font-extrabold text-black transition-all duration-500 rounded-full bg-cyan-300 ring-4 ring-yellow-300 hover:text-white hover:shadow-2xl hover:shadow-white">Landing Page</a>
    <a href="/posts" class="p-5 text-xl font-extrabold text-black transition-all duration-500 rounded-full bg-cyan-300 ring-4 ring-yellow-300 hover:text-white hover:shadow-2xl hover:shadow-white">Post</a>
    <a href="/profiles" class="p-5 text-xl font-extrabold text-black transition-all duration-500 rounded-full bg-cyan-300 ring-4 ring-yellow-300 hover:text-white hover:shadow-2xl hover:shadow-white">Profile</a>
</div>